# Logs:
logs
*.log

# Animation files:
*.fbx

# Dependency directory:
node_modules

# Compiled source files:
build/*.js
build/*.map

# Common IDE working directories:
.idea
.vscode
*.sublime-workspace
