# Logs:
logs
*.log

# IDE directories:
.idea
.vscode

# Dependency directory:
node_modules

# Test source files:
src/demos
src/index.js

# Compiled source files:
build/*.*
build/lib/*

# Leave compiled APE library:
!build/APE.min.js
!build/APE.worker.min.js
